## **BASIC STRING OPERATIONS**

#### **Python Libraries**

In [50]:
#!pip install nltk

In [51]:
#!pip install textblob

In [52]:
import numpy as np
import pandas as pd 
import nltk
import textblob
import seaborn as sns
from textblob import TextBlob
from textblob import Word
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from termcolor import colored
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning)

#### **General**

In [53]:
name_ = 'XYZ'
print(colored("\033[1m" + "Name: ", "blue"), name_) 
print(colored("\033[1m" + "Name: ", "blue"), name_*3)
print(colored("\033[1m" + "Name: ", "blue"), 'K'+ name_[1:])

Name:  XYZ
Name:  XYZXYZXYZ
Name:  KYZ

In [54]:
names_ = ['john','adriana','elena']
for i in names_:
    print(colored("\033[1m" + "Name: ", "blue"),i,sep='') 

for i in names_:
    print(colored("\033[1m" + "_ ", "blue"),i[0:],sep='') 
print(colored("\033[1m" + "Names: ", "blue"), *enumerate(names_))

Name: john
Name: adriana
Name: elena
_ john
_ adriana
_ elena
Names:  (0, 'john') (1, 'adriana') (2, 'elena')

In [55]:
"mvk".isalpha()

True

In [56]:
"mvk30".isalpha()

False

In [57]:
name_ = "Aleyna Cihangir"
print(colored("\033[1m" + "Start with a: ", "blue"), name_.startswith("a"))
print(colored("\033[1m" + "Start with A: ", "blue"), name_.startswith("A"))
print(colored("\033[1m" + "Start with r: ", "blue"), name_.endswith("r"))
print(colored("\033[1m" + "How many a in Name: ", "blue"), name_.count("a"))
print(colored("\033[1m" + "Splitting: ", "blue"), name_.split())
print(colored("\033[1m" + "Splitting comma: ", "blue"), name_.split(','))
print(colored("\033[1m" + "Splitting line: ", "blue"), name_.split('_'))
print(colored("\033[1m" + "Upper: ", "blue"), name_.upper())
print(colored("\033[1m" + "Lower: ", "blue"), name_.lower())
print(colored("\033[1m" + "Capitalize: ", "blue"), name_.capitalize())
print(colored("\033[1m" + "Title: ", "blue"), name_.title())
print(colored("\033[1m" + "Swapcase: ", "blue"), name_.swapcase())
print(colored("\033[1m" + "Strip: ", "blue"), name_.strip())
print(colored("\033[1m" + "Strip with 'r': ", "blue"), name_.strip('r'))
joiner = ' '
print(colored("\033[1m" + "Add space for each letters: ", "blue"), joiner.join(name_))
print(colored("\033[1m" + "Change it: ", "blue"), name_.replace('a','O'))

Start with a:  False
Start with A:  True
Start with r:  True
How many a in Name:  2
Splitting:  ['Aleyna', 'Cihangir']
Splitting comma:  ['Aleyna Cihangir']
Splitting line:  ['Aleyna Cihangir']
Upper:  ALEYNA CIHANGIR
Lower:  aleyna cihangir
Capitalize:  Aleyna cihangir
Title:  Aleyna Cihangir
Swapcase:  aLEYNA cIHANGIR
Strip:  Aleyna Cihangir
Strip with 'r':  Aleyna Cihangi
Add space for each letters:  A l e y n a   C i h a n g i r
Change it:  AleynO CihOngir

#### **Text Preprocessing**

In [58]:
text_ = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""
text_

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [59]:
text_.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [60]:
v = pd.Series(text_.split("\n"))
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [61]:
text_vector = v[1:len(v)]
text_vector

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [84]:
mdf = pd.DataFrame(text_vector, columns = ["Stories"])
mdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [63]:
list1= [1,2,3]
str1 = "".join(str(i) for i in list1)
str1

'123'

In [64]:
mdf["Stories"].apply(lambda x: " ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

In [65]:
mdf = mdf["Stories"].apply(lambda x: " ".join(x.lower() for x in x.split()))
mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

In [66]:
# Droping punctuation marks
mdf = mdf.str.replace("[^\w\s]","")
mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Stories, dtype: object

In [67]:
# Droping Numbers
mdf = mdf.str.replace("\d","")
mdf

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Stories, dtype: object

In [68]:
nltk.download("stopwords")
sw = stopwords.words("english")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\AleynaCihangir\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [69]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\AleynaCihangir\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [70]:
mdf = pd.DataFrame(mdf, columns = ["stories"])
pd.Series(" ".join(mdf["stories"]).split()).value_counts()
deleted = pd.Series(" ".join(mdf["stories"]).split()).value_counts()[-3:]
mdf["stories"].apply(lambda x: " ".join(i for i in x.split() if i not in deleted))

Series([], Name: stories, dtype: object)

In [72]:
mdf["stories"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

Series([], Name: stories, dtype: object)

In [71]:
# Stemming 
st = PorterStemmer()
### mdf['stories'].apply(lambda x: ' '.join([st.stem(word) for word in x.split()]))
# Lemmatization
nltk.download("wordnet")
# d_mdf["stories"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\AleynaCihangir\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

#### **N-Gram**

In [75]:
# is a Turkish sentence
a = """Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.N-gram'lar birlikte kullanılan kelimelerin kombinasyolarını gösterir"""

In [76]:
TextBlob(a).ngrams(3)

[WordList(['Bu', 'örneği', 'anlaşılabilmesi']),
 WordList(['örneği', 'anlaşılabilmesi', 'için']),
 WordList(['anlaşılabilmesi', 'için', 'daha']),
 WordList(['için', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'üzerinden']),
 WordList(['metin', 'üzerinden', "göstereceğim.N-gram'lar"]),
 WordList(['üzerinden', "göstereceğim.N-gram'lar", 'birlikte']),
 WordList(["göstereceğim.N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['kelimelerin', 'kombinasyolarını', 'gösterir'])]

#### **POS(Part of Speech Tagging)**

In [77]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\AleynaCihangir\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [87]:
TextBlob(mdf["Stories"][2]).tags

[('The', 'DT'), ('Red-headed', 'JJ'), ('League,2', 'NNP')]

In [88]:
mdf["Stories"].apply(lambda x: TextBlob(x).tags)

1     [(A, DT), (Scandal, NNP), (in, IN), (Bohemia, ...
2        [(The, DT), (Red-headed, JJ), (League,2, NNP)]
3     [(A, DT), (Case, NNP), (of, IN), (Identity, NN...
4     [(The, DT), (Boscombe, NNP), (Valley, NNP), (M...
5     [(The, DT), (Five, NNP), (Orange, NNP), (Pips1...
6     [(The, DT), (Man, NN), (with, IN), (the, DT), ...
7     [(The, DT), (Adventure, NN), (of, IN), (the, D...
8     [(The, DT), (Adventure, NN), (of, IN), (the, D...
9     [(The, DT), (Adventure, NN), (of, IN), (the, D...
10    [(The, DT), (Adventure, NN), (of, IN), (the, D...
11    [(The, DT), (Adventure, NN), (of, IN), (the, D...
12    [(The, DT), (Adventure, NN), (of, IN), (the, D...
Name: Stories, dtype: object

In [100]:
pos = mdf["Stories"].apply(lambda x: TextBlob(x).tags)
# is a Turkish sentence
sentenc_e = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"
pos = TextBlob(sentenc_e).tags
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)
results = rp.parse(pos)
print(results)
results.draw()

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [103]:
o_df = mdf.copy()
o_df["Stories"].str.len()

1     24
2     23
3     22
4     28
5     21
6     29
7     35
8     34
9     37
10    35
11    34
12    35
Name: Stories, dtype: int64

In [105]:
o_df["Leng_Num"] = o_df["Stories"].str.len()
o_df

                                  Stories  Leng_Num
1                A Scandal in Bohemia! 01        24
2                 The Red-headed League,2        23
3                  A Case, of Identity 33        22
4            The Boscombe Valley Mystery4        28
5                   The Five Orange Pips1        21
6           The Man with? the Twisted Lip        29
7     The Adventure of the Blue Carbuncle        35
8      The Adventure of the Speckled Band        34
9   The Adventure of the Engineer's Thumb        37
10    The Adventure of the Noble Bachelor        35
11     The Adventure of the Beryl Coronet        34
12    The Adventure of the Copper Beeches        35

In [107]:
o_df["Leng_Num"] = o_df["Stories"].apply(lambda x:len(str(x).split(" ")))
o_df

                                  Stories  Leng_Num
1                A Scandal in Bohemia! 01         5
2                 The Red-headed League,2         3
3                  A Case, of Identity 33         5
4            The Boscombe Valley Mystery4         4
5                   The Five Orange Pips1         4
6           The Man with? the Twisted Lip         6
7     The Adventure of the Blue Carbuncle         6
8      The Adventure of the Speckled Band         6
9   The Adventure of the Engineer's Thumb         6
10    The Adventure of the Noble Bachelor         6
11     The Adventure of the Beryl Coronet         6
12    The Adventure of the Copper Beeches         6

#### **Find Special Char**

In [109]:
o_df["Stories"].apply(lambda x: len([x for x in x.split() if x.startswith("adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: Stories, dtype: int64

In [111]:
o_df["Speclak Char Num"] = o_df["Stories"].apply(lambda x: len([x for x in x.split()  if x.startswith("adventure")]))
o_df

                                  Stories  Leng_Num  Speclak Char Num
1                A Scandal in Bohemia! 01         5                 0
2                 The Red-headed League,2         3                 0
3                  A Case, of Identity 33         5                 0
4            The Boscombe Valley Mystery4         4                 0
5                   The Five Orange Pips1         4                 0
6           The Man with? the Twisted Lip         6                 0
7     The Adventure of the Blue Carbuncle         6                 0
8      The Adventure of the Speckled Band         6                 0
9   The Adventure of the Engineer's Thumb         6                 0
10    The Adventure of the Noble Bachelor         6                 0
11     The Adventure of the Beryl Coronet         6                 0
12    The Adventure of the Copper Beeches         6                 0

In [112]:
mdf["Stories"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: Stories, dtype: int64

In [114]:
o_df["Num Number"] = mdf["Stories"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
o_df

,Stories,Leng_Num,Speclak Char Num,Num Number
1,A Scandal in Bohemia! 01,5,0,1
2,"The Red-headed League,2",3,0,0
3,"A Case, of Identity 33",5,0,1
4,The Boscombe Valley Mystery4,4,0,0
5,The Five Orange Pips1,4,0,0
6,The Man with? the Twisted Lip,6,0,0
7,The Adventure of the Blue Carbuncle,6,0,0
8,The Adventure of the Speckled Band,6,0,0
9,The Adventure of the Engineer's Thumb,6,0,0
10,The Adventure of the Noble Bachelor,6,0,0
11,The Adventure of the Beryl Coronet,6,0,0
12,The Adventure of the Copper Beeches,6,0,0