#### **PYTHON LIBRARIES**

In [2]:
from termcolor import colored
import keyword

#### **GENERAL INFORMATIONS:**

In [13]:
'C'  # is a char 
print(colored("\033[1m" + "Returns: ", "blue"), type('Hallo Welt')) 
print(colored("\033[1m" + "Result is: ", "blue"), 'Hallo' + '' + 'Welt') 
print(colored("\033[1m" + "Result is: ", "blue"), 'Hallo' + ' ' + 'Welt') 
print(colored("\033[1m" + "Result is: ", "blue"), 'Hallo'  ' '  'Welt', '\n')  # we dont need to + 
print(colored("\033[1m" + "Returns: ", "blue"), type(123)) 
print(colored("\033[1m" + "Returns: ", "blue"), type(7+2j)) 
print(colored("\033[1m" + "Returns: ", "blue"), type(22.3))

Returns:  <class 'str'>
Result is:  HalloWelt
Result is:  Hallo Welt
Result is:  Hallo Welt

Returns:  <class 'int'>
Returns:  <class 'complex'>
Returns:  <class 'float'>

#### **ARITHMETIC OPERATORS:**

In [18]:
print(colored("\033[1m" + "Result is: ", "blue"), 10-5) 
print(colored("\033[1m" + "Result is: ", "blue"), 4.7-3.2) 
print(colored("\033[1m" + "Result is: ", "blue"), 4.87*3) 
print(colored("\033[1m" + "Result is: ", "blue"), 10/2)
print(colored("\033[1m" + "Result is: ", "blue"), 5**2) 
print(colored("\033[1m" + "Result is: ", "blue"), 10%3) 
print(colored("\033[1m" + "Result is: ", "blue"), 10//5) 
print(colored("\033[1m" + "Result is: ", "blue"), pow(5,3)) 
print(colored("\033[1m" + "Result is: ", "blue"), 'Py'*2)

Result is:  5
Result is:  1.5
Result is:  14.61
Result is:  5.0
Result is:  25
Result is:  1
Result is:  2
Result is:  125
Result is:  PyPy

#### **VARIABLES:**

In [49]:
v1 = 125
v2 = 248
print(colored("\033[1m" + "V1 + V2: ", "blue"), v1 + v2) 
v1 , v2 = v2 , v1 # change values
print(colored("\033[1m" + "V1 is: ", "blue"), v1) 

price = 12 # euro
hours_week = 40 
print(colored("\033[1m" + "Week Price is: ", "blue"), price*hours_week, '\n') 
username = 'aleyna'
password = 'cihangir'
print(colored("\033[1m" + "Username has how many letters: ", "blue"), len(username))

V1 + V2:  373
V1 is:  248
Week Price is:  480

Username has how many letters:  6

In [50]:
print('Hallo Welt', sep=' ', end='\n' )
print('Hallo', 'Welt', sep='-', end='!!\n' )
print('Hallo', 'Welt', sep='-py-', end='\n')
print(*'Hallo Welt', sep='-', end='\n') 
print('\'World Mercure Venus\'')
print(r'\World\Mercure\Venus\m\\')

Hallo Welt
Hallo-Welt!!
Hallo-py-Welt
H-a-l-l-o- -W-e-l-t
'World Mercure Venus'
\World\Mercure\Venus\m\\

In [51]:
name = input('Enter your name: ')
age = input('Your age is:')
print(colored("\033[1m" + "Your Name and Age are: ", "blue"), name, age)

Enter your name: x
Your age is:20
Your Name and Age are:  x 20

#### **TYPE CASTING:**

In [54]:
age1 = int(age) + 10 
print(colored("\033[1m" + "New Age is: ", "blue"), age1)
age2 = float(age) + 5.7
print(colored("\033[1m" + "New Age is: ", "blue"), age2)
print(colored("\033[1m" + "Hi, May name ist {0} and I'm {1} years old. ", "blue").format(name, age))

New Age is:  40
New Age is:  35.7
Hi, May name ist x and I'm 30 years old.

In [63]:
print(colored("\033[1m" + "What is: ", "blue"), bool(1))
print(colored("\033[1m" + "What is: ", "blue"), bool('hallo'))
print(colored("\033[1m" + "What is: ", "blue"), bool(1234))
print(colored("\033[1m" + "50 > 30: ", "blue"), 50 > 30)
print(colored("\033[1m" + "50 < 30: ", "blue"), 50 < 30)
print(colored("\033[1m" + "50 > 30 or 20 >30: ", "blue"), (50 > 30) or (20 > 30))
print(colored("\033[1m" + "50 > 30 and 20 >30: ", "blue"), (50 > 30) and (20 > 30))

What is:  True
What is:  True
What is:  True
50 > 30:  True
50 < 30:  False
50 > 30 or 20 >30:  True
50 > 30 and 20 >30:  False

In [66]:
a = int(input('Please a number: ')) # dont forget int()
if a < 10 :
  print('lower than 10')
elif a > 10 :
  print('higher than 15')
else :
  print('the number is higher than 15 ')

Please a number: 38
higher than 15

In [ ]:
if  (age3 := int(input('Your : '))) >= 18:
  print(f'You are {age3} years old.')
else :
  print(f'You are {age3} years old. You cannot come. ')

In [79]:
f = open('test.txt', 'w')
print('Try_1', file=f, flush=False)
print('Try_2', file=f, flush=True)
f.close()
f = open('test.txt', 'r')
print(f.read())

with open('test.txt', 'r+') as f :
  print(f.read())
  f.write('try_2 with')

Try_1
Try_2

Try_1
Try_2

#### **LOOPS:**

In [93]:
for i in range(2, 10, 2):
  print(i, end=' ') 
print('\n')
for i in range(10):
  print(i, end=' ')
  if i == 5:
    break;
print('\n')
for i in range(10):
  if i == 5:
    continue
  print(i, end=' ')
print('\n')

2 4 6 8

0 1 2 3 4 5

0 1 2 3 4 6 7 8 9

#### **EXCEPTIONS HANDLING:**

In [ ]:
a1 = int(input('Enter a number: ')) # 10
a2 = int(input('Enter a number: ')) # 0 
print( a1/a2 )  # ZeroDivisionError

In [ ]:
try:
  a1 = int(input('Enter a number: ')) # 10
  a2 = int(input('Enter a number: ')) # 0 
  print( a1/a2 )  # ZeroDivisionError 
except ZeroDivisionError:
  print('You cannot write 0')

#### **LISTS and TUPLES:**

In [21]:
list1 = []
list1 = list()
print(list1, colored("\033[1m" + "List lenght is: ", "blue"), len(list1))
list1.append(10)
print(list1, colored("\033[1m" + "List lenght is: ", "blue"), len(list1))
list1.append(20)
list1.append(35)
list1.append(48)
print(list1, colored("\033[1m" + "List lenght is: ", "blue"), len(list1))
print(colored("\033[1m" + "0. values is: ", "blue"), list1[0])
print(colored("\033[1m" + "List1 in reverse is: ", "blue"), list1[::-1])
list1.insert(0,99)
print(colored("\033[1m" + "Add a number in 0. column ", "blue"), list1)
print(colored("\033[1m" + "Delete  and show last number ", "blue"), list1.pop())
print(colored("\033[1m" + "New List1 is: ", "blue"), list1)
print(colored("\033[1m" + "Delete a number: ", "blue"), list1.remove(35))
print(colored("\033[1m" + "New List1 is: ", "blue"), list1)
list1 = [2,0,7,5]
list2 = [4,5,2,1]
list1.extend(list2)
print(colored("\033[1m" + "L1 + L2: ", "blue"), list1)
list1.sort()
print(colored("\033[1m" + "L1 : ", "blue"), list1)
list1 = ['Apple', 'Banana', 'Bird', 'Bird']
counter = list1.count(input('Word is: ')) 
print(colored("\033[1m" + "How many Bird word in List1: ", "blue"), counter)

[] List lenght is:  0
[10] List lenght is:  1
[10, 20, 35, 48] List lenght is:  4
0. values is:  10
List1 in reverse is:  [48, 35, 20, 10]
Add a number in 0. column  [99, 10, 20, 35, 48]
Delete  and show last number  48
New List1 is:  [99, 10, 20, 35]
Delete a number:  None
New List1 is:  [99, 10, 20]
L1 + L2:  [2, 0, 7, 5, 4, 5, 2, 1]
L1 :  [0, 1, 2, 2, 4, 5, 5, 7]
Word is: Bird
How many Bird word in List1:  2

#### **DICTIONARIES:**

In [24]:
diction = {}
diction = dict()
diction['Apple'] = 'Apfel'
diction['Pencil'] = 'Stift'
diction['Bird'] = 'Vogel'
print(colored("\033[1m" + "Sample Dictionary is: ", "blue"), diction)
dict_keys = diction.keys()
print(colored("\033[1m" + "Keys of Dictionary are: ", "blue"), dict_keys)
dict_val = diction.values()
print(colored("\033[1m" + "Values of  Dictionary are: ", "blue"), dict_val)

Sample Dictionary is:  {'Apple': 'Apfel', 'Pencil': 'Stift', 'Bird': 'Vogel'}
Keys of Dictionary are:  dict_keys(['Apple', 'Pencil', 'Bird'])
Values of  Dictionary are:  dict_values(['Apfel', 'Stift', 'Vogel'])

#### **SETS and FROZENSETS:**

In [31]:
sets = set()
sets.add(1)
sets.add(2)
sets.add(3)
sets.add(4)
sets.add(5)
print(colored("\033[1m" + "Set is: ", "blue"), sets)
list1 = [10, 12, 3, 45, 2, 34, 3, 8, 9, 0]
sets = set(list1)
print(colored("\033[1m" + "A new Set is: ", "blue"), sets)
print(colored("\033[1m" + "Remove value of 10 and shorting: ", "blue"), sets.remove(10))
print(colored("\033[1m" + "A new Set is: ", "blue"), sets)

Set is:  {1, 2, 3, 4, 5}
A new Set is:  {0, 2, 3, 34, 8, 9, 10, 12, 45}
Remove value of 10:  None
A new Set is:  {0, 2, 3, 34, 8, 9, 12, 45}

#### **FUNCTIONS:**

In [38]:
def Calculate_Note(name, scores):
  means = 0 
  for score in scores:
    means += score
  means /= len(scores)
  if means > 90:
    let = 'A'
  elif means > 80:
    let = 'B'
  elif means > 60:
    let = 'C'
  elif means > 50:
    let = 'D'
  else:
    let = 'F'
  print(f'\nName: {name}\nMean: {means:.2f}\nLetter: {let}\n', end='-'*20)

#### **IMPORTANT KNOWLEDGE !**

In [32]:
keyword.kwlist # You cannot those variables name..

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [35]:
help(list) # returns features of list

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None